In [1]:
import pandas as pd
import numpy as np

In [2]:


from google.colab import files
uploaded = files.upload()

Saving pakcrimes.csv to pakcrimes.csv

In [3]:
df= pd.read_csv('pakcrimes.csv')

In [4]:
df.shape

(60, 12)

In [5]:
df.head()

,_id,Year,Offence,Punjab,Sindh,KP,Balochistan,Islamabad,Railways,G.B,AJK,Pakistan
0,1,2012,Murder,6128,3726,2958,711,120,6,102,95,13846
1,2,2012,Attempt to Murder,7641,3732,2892,583,146,9,163,172,15338
2,3,2012,Kidnapping /Abduction,15699,3077,1052,386,70,6,32,288,20610
3,4,2012,Dacoity,2715,1341,60,98,22,1,8,12,4257
4,5,2012,Robbery,12181,4320,134,160,177,5,26,78,17081

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          60 non-null     int64
 1   Year         60 non-null     int64
 2   Offence      60 non-null     object
 3   Punjab       60 non-null     int64
 4   Sindh        60 non-null     int64
 5   KP           60 non-null     int64
 6   Balochistan  60 non-null     int64
 7   Islamabad    60 non-null     int64
 8   Railways     60 non-null     int64
 9   G.B          60 non-null     int64
 10  AJK          60 non-null     int64
 11  Pakistan     60 non-null     int64
dtypes: int64(11), object(1)
memory usage: 5.8+ KB

In [7]:
df.dtypes

_id             int64
Year            int64
Offence        object
Punjab          int64
Sindh           int64
KP              int64
Balochistan     int64
Islamabad       int64
Railways        int64
G.B             int64
AJK             int64
Pakistan        int64
dtype: object

In [8]:
df.describe()

,_id,Year,Punjab,Sindh,KP,Balochistan,Islamabad,Railways,G.B,AJK,Pakistan
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,30.500000,2014.500000,79055.900000,14763.366667,31113.833333,1758.166667,1517.733333,347.833333,308.466667,1199.900000,130065.200000
std,17.464249,1.722237,138782.467265,25794.011521,60948.397625,3099.910568,2709.241741,634.181661,534.831305,2199.744991,234047.594987
min,1.000000,2012.000000,602.000000,383.000000,45.000000,30.000000,12.000000,0.000000,2.000000,0.000000,1280.000000
25%,15.750000,2013.000000,5924.000000,1403.500000,204.250000,151.250000,91.500000,1.000000,22.750000,51.500000,9495.750000
50%,30.500000,2014.500000,12395.000000,2662.500000,1115.000000,263.000000,181.000000,4.500000,60.500000,153.000000,16394.500000
75%,45.250000,2016.000000,30760.000000,3762.500000,3150.250000,591.000000,529.000000,280.750000,101.250000,279.000000,35792.000000
max,60.000000,2017.000000,408148.000000,78688.000000,180830.000000,9492.000000,8396.000000,2115.000000,1736.000000,7085.000000,683925.000000

In [9]:
df.describe(include ='O')

       Offence
count       60
unique      10
top     Murder
freq         6

In [10]:

df.head(2)

,_id,Year,Offence,Punjab,Sindh,KP,Balochistan,Islamabad,Railways,G.B,AJK,Pakistan
0,1,2012,Murder,6128,3726,2958,711,120,6,102,95,13846
1,2,2012,Attempt to Murder,7641,3732,2892,583,146,9,163,172,15338

In [12]:
#Yearly ,No. of crime in Pakistan
df.groupby(by=['Year'])['Pakistan'].sum()

Year
2012    1291294
2013    1268808
2014    1254254
2015    1266598
2016    1355108
2017    1367850
Name: Pakistan, dtype: int64

In [18]:
#Drill down wrt Offences
df.groupby(by=['Offence'])['Pakistan'].sum()

Offence
Attempt to Murder          75599
Burglary                   95982
Cattle Theft               42160
Dacoity                    17071
Kidnapping /Abduction     113856
Murder                     67296
Other Theft               217165
Others                   3179566
Robbery                    93261
TOTAL RECORDED CRIME     3901956
Name: Pakistan, dtype: int64

In [22]:
df.columns.tolist()

['_id',
 'Year',
 'Offence',
 'Punjab',
 'Sindh',
 'KP',
 'Balochistan',
 'Islamabad',
 'Railways',
 'G.B',
 'AJK',
 'Pakistan']

In [25]:
# avg offences per region
a = df[['Punjab', 'Sindh', 'KP', 'Balochistan', 'Islamabad', 'Railways', 'G.B', 'AJK']].mean()
print(a)

Punjab         79055.900000
Sindh          14763.366667
KP             31113.833333
Balochistan     1758.166667
Islamabad       1517.733333
Railways         347.833333
G.B              308.466667
AJK             1199.900000
dtype: float64

In [28]:
# Year-on-Year Growth Rate
c = df.groupby('Year')['Pakistan'].sum()
d = c.pct_change() * 100
print(d)

Year
2012         NaN
2013   -1.741354
2014   -1.147061
2015    0.984171
2016    6.988010
2017    0.940294
Name: Pakistan, dtype: float64

In [29]:
#Q2

In [35]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving olx.csv to olx.csv

In [40]:
#de=pd.read_csv('OLX_Car_Data_CSV.csv')

de= pd.read_csv('olx.csv', encoding ='latin1')

In [41]:
de.shape

(24973, 9)

In [42]:
de.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24973 entries, 0 to 24972
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Brand             22836 non-null  object
 1   Condition         22837 non-null  object
 2   Fuel              22528 non-null  object
 3   KMs Driven        22687 non-null  float64
 4   Model             22525 non-null  object
 5   Price             24973 non-null  int64
 6   Registered City   20337 non-null  object
 7   Transaction Type  22528 non-null  object
 8   Year              22689 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 1.7+ MB

In [44]:
de.head(12)

,Brand,Condition,Fuel,KMs Driven,Model,Price,Registered City,Transaction Type,Year
0,Toyota,Used,Diesel,1.0,Prado,2100000,Karachi,Cash,1997.0
1,Suzuki,Used,Petrol,100000.0,Bolan,380000,Karachi,Cash,2006.0
2,Suzuki,Used,CNG,12345.0,Bolan,340000,Karachi,Cash,1998.0
3,Suzuki,Used,Petrol,94000.0,Alto,535000,Karachi,Cash,2010.0
4,Toyota,Used,Petrol,100000.0,Corolla XLI,1430000,Karachi,Cash,2013.0
5,Toyota,Used,Petrol,80000.0,Corrolla Altis,1620000,Karachi,Cash,2012.0
6,Suzuki,New,CNG,65000.0,Cultus VXL,450000,Karachi,Cash,2006.0
7,Toyota,New,Petrol,10241.0,Corrolla Altis,2900000,Karachi,Cash,2017.0
8,Suzuki,Used,CNG,83000.0,Alto,490000,Karachi,Cash,2009.0
9,Honda,Used,Petrol,1.0,Civic VTi,480000,Karachi,Cash,1997.0
10,Suzuki,Used,CNG,123.0,Khyber,230000,Karachi,Cash,1994.0
11,Suzuki,Used,CNG,73000.0,Liana,535000,Karachi,Cash,2006.0

In [52]:
de['Model'].value_counts()

Model
Cultus VXR       1775
Alto             1658
Corolla GLI      1043
Mehran VX        1025
Other             920
                 ...
LX Series           1
808                 1
Luce                1
cars-other-37       1
Shehzore            1
Name: count, Length: 303, dtype: int64

In [56]:
#de['Model new'] = de['Model'].apply(lambda x:x.split('  ')[0]).tolist()
de.groupby(by=['Model']).value_counts()

Model  Brand   Condition  Fuel    KMs Driven  Price    Registered City  Transaction Type     Year
120 Y  Nissan  Used       CNG     100000.0    170000   Karachi          Cash                 1979.0    3
                          Petrol  990000.0    100000   Lahore           Cash                 1981.0    2
                                  703200.0    180000   Karachi          Cash                 1974.0    2
               New        Diesel  1111.0      140000   Rawalpindi       Cash                 2018.0    1
               Used       Petrol  100000.0    290000   Karachi          Cash                 1981.0    1
                                                                                                      ..
iQ     Toyota  Used       Petrol  20000.0     1150000  Karachi          Cash                 2012.0    1
                                              2300000  Peshawar         Installment/Leasing  2013.0    1
                                  65000.0     830000   Karachi          Cash                 2013.0    1
                                  78999.0     975000   Karachi          Cash                 2007.0    1
                                  100000.0    1100000  Karachi          Cash                 2012.0    1
Name: count, Length: 18456, dtype: int64

In [63]:
#Question2
de['Model new'] = de['Model'].apply(lambda x: x.split()[0] if isinstance(x, str) else x).tolist()

#de['Model new'] = de['Model'].apply(lambda x: x.split()[0]).tolist()

In [64]:
de

,Brand,Condition,Fuel,KMs Driven,Model,Price,Registered City,Transaction Type,Year,Model new
0,Toyota,Used,Diesel,1.0,Prado,2100000,Karachi,Cash,1997.0,Prado
1,Suzuki,Used,Petrol,100000.0,Bolan,380000,Karachi,Cash,2006.0,Bolan
2,Suzuki,Used,CNG,12345.0,Bolan,340000,Karachi,Cash,1998.0,Bolan
3,Suzuki,Used,Petrol,94000.0,Alto,535000,Karachi,Cash,2010.0,Alto
4,Toyota,Used,Petrol,100000.0,Corolla XLI,1430000,Karachi,Cash,2013.0,Corolla
...,...,...,...,...,...,...,...,...,...,...
24968,Toyota,Used,CNG,200000.0,Corolla XE,1070000,Lahore,Cash,2001.0,Corolla
24969,Daihatsu,New,Petrol,10000.0,Cuore,390000,Karachi,Cash,2004.0,Cuore
24970,Other Brands,Used,CNG,158715.0,Other,180000,NaN,Cash,2000.0,Other
24971,Suzuki,Used,Petrol,1.0,Alto,470000,Rawalpindi,Cash,2003.0,Alto
24972,Toyota,Used,Petrol,48500.0,Corolla GLI,2050000,Lahore,Cash,2017.0,Corolla

In [72]:
g= de.groupby(by=['Model new'])['Model new'].value_counts().sort_values(ascending=False)
print(g)

Model new
Cultus     2253
Corolla    1965
Mehran     1815
Alto       1680
Civic      1595
           ...
B2200         1
Bego          1
Raum          1
Previa        1
Kalam         1
Name: count, Length: 266, dtype: int64

In [73]:
de.head(2)

,Brand,Condition,Fuel,KMs Driven,Model,Price,Registered City,Transaction Type,Year,Model new
0,Toyota,Used,Diesel,1.0,Prado,2100000,Karachi,Cash,1997.0,Prado
1,Suzuki,Used,Petrol,100000.0,Bolan,380000,Karachi,Cash,2006.0,Bolan

In [78]:
de['Condition'].value_counts()

Condition
Used    18472
New      4365
Name: count, dtype: int64

In [88]:
de.groupby(['Condition', 'Model new']).value_counts()

Condition  Model new  Brand   Fuel    KMs Driven  Model     Price    Registered City  Transaction Type     Year
New        120        Nissan  Diesel  1111.0      120 Y     140000   Rawalpindi       Cash                 2018.0    1
                              Petrol  703200.0    120 Y     180000   Karachi          Cash                 1974.0    1
                                      1999.0      120 Y     240000   Karachi          Cash                 1974.0    1
           3          BMW     Petrol  32222.0     3 Series  500000   Islamabad        Cash                 2000.0    1
                                      42222.0     3 Series  5000000  Karachi          Cash                 2000.0    1
                                                                                                                    ..
Used       iQ         Toyota  Petrol  78999.0     iQ        975000   Karachi          Cash                 2007.0    1
                                      65000.0     iQ        830000   Karachi          Cash                 2013.0    1
                                      20000.0     iQ        2300000  Peshawar         Installment/Leasing  2013.0    1
                                                            1150000  Karachi          Cash                 2012.0    1
                                      100000.0    iQ        1100000  Karachi          Cash                 2012.0    1
Name: count, Length: 18456, dtype: int64